src/resources/simulation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:complexType name="simulation">
	<xs:sequence>
		<xs:element name="width" type="xs:int"/>
		<xs:element name="heigth" type="xs:int"/>
		<xs:element name="predatorStarve" type="xs:int"/>
		<xs:element name="predatorBreed" type="xs:int"/>
		<xs:element name="preyBreed" type="xs:int"/>
			



	</xs:sequence>
</xs:complexType>

	


